<article class="d-flex pt-3">
  <figure class="w-auto mt-0 me-0 my-md-0 mb-2 me-lg-3 m-lg-0">
    <%= cl_image_tag(deep.user.photo.key, class: 'm-0 m-sm-1 mt-sm-0 deeps-headshot', :width=>55, :height=>55, :gravity=>"face", :crop=>"thumb") %>
  </figure>
  <div class="d-flex flex-column p-2 pt-0 w-100">
    <p class="pb-3 mb-0 small lh-sm deep-text-dark"> <%= deep.text %>
    </p>
    <div class="d-flex flex-row justify-content-between">
      <strong class="blockquote-footer black-text d-block text-gray-dark m-0 align-self-end align-self-lg-stretch"><%= deep.user.fullname %>
      </strong>
      <span class="d-flex flex-row align-self-end align-items-center">
        <span class="deep-text-dark likes-count"><%= deep.likes.count if deep.likes.count > 0 %> </span>
        <% pre_like = deep.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <%= link_to ("<i class='bi bi-heart-fill d-inline-block like-button like-button-liked ms-1'></i>").html_safe, deep_like_path(deep, pre_like), class: 'black-text likes-container', method: :delete %>
        <% else %>
          <%= link_to ("<i class='bi bi-heart-fill d-inline-block like-button follow-button ms-1'></i>").html_safe, deep_likes_path(deep), class: 'black-text likes-container', method: :post %>
        <% end %>
      </span>
    </div>
  </div>
</article>
