<!--

<h1>Deeps</h1> 
<table>
  <thead>
    <tr>
      <th>Deep</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @deeps.each do |deep| %>
  <tr>
    <td><%= deep.deep %></td>
    <td><%= link_to 'Show', deep %></td>
    <td><%= link_to 'Edit', edit_deep_path(deep) %></td>
    <td><%= link_to 'Destroy', deep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to 'New Deep', new_deep_path %>
-->
<div class="row p0 m-0 h-100">
  <div class="col-12 col-xl-9">
    <header class="row">
      <nav class="nav col-12 p-0 border-bottom text-decoration-none">
        <li class="nav-item p-0 p-sm-2 p-lg-3 position-relative secondary-top-nav-items-active secondary-top-nav-items">
          <a href="#" class="nav-link nav-text-dark secondary-top-nav-items-text ms-1 ms-sm-3 ms-lg-2 black-text ms-2">DEEPS</a>
        </li>
      </nav>
    </header>
    <main class="container d-flex flex-column px-1 px-md-4">
      <form class="p-2 p-md-5 bg-white mt-4 mt-lg-5 shadow-sm rounded">
        <label class="form-label fw-bold deep-text-dark-semitransparent">DEEP SOMETHING</label>
        <input class="form-control p-2 p-lg-3" autocomplete="off" placeholder="Compose new deep" type="text">
      </form>
      <section class="p-2 p-md-5 mt-4 bg-white shadow-sm rounded deeps-section">
        <h6 class="border-bottom pb-2 mb-0 deep-text-blue fw-bold">4 NEW DEEPS</h6>
        <article class="d-flex pt-3">
          <figure class="w-auto mt-0 me-0 my-md-0 mb-2 me-lg-3 m-lg-0">
            <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
          </figure>
          <div class="d-flex flex-column p-2 pt-0 w-100">
            <p class="pb-3 mb-0 small lh-sm deep-text-dark">
              We are all champions, as long as we are willing to beleive it. 
            </p>
            <strong class="blockquote-footer black-text d-block text-gray-dark m-0 align-self-end align-self-lg-stretch">Miguel Tapia</strong>
          </div>
        </article>
        <!--It repeats here
        -->
        <article class="d-flex pt-3">
          <figure class="w-auto mt-0 me-0 my-md-0 mb-2 me-lg-3 m-lg-0">
            <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
          </figure>
          <div class="d-flex flex-column p-2 pt-0 w-100">
            <p class="pb-3 mb-0 small lh-sm deep-text-dark">
              Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind.
            </p>
            <strong class="blockquote-footer black-text d-block text-gray-dark m-0 align-self-end align-self-lg-stretch">Miguel Tapia</strong>
          </div>
        </article>
        <article class="d-flex pt-3">
          <figure class="w-auto mt-0 me-0 my-md-0 mb-2 me-lg-3 m-lg-0">
            <img class="m-0 m-sm-1 deeps-headshot rounded" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
          </figure>
          <div class="d-flex flex-column p-2 pt-0 w-100">
            <p class="pb-3 mb-0 small lh-sm deep-text-dark">
              I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.
            </p>
            <strong class="blockquote-footer black-text d-block text-gray-dark m-0 align-self-end align-self-lg-stretch">Miguel Tapia</strong>
          </div>
        </article>
        <article class="d-flex pt-3">
          <figure class="w-auto mt-0 me-0 my-md-0 mb-2 me-lg-3 m-lg-0">
            <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
          </figure>
          <div class="d-flex flex-column p-2 pt-0 w-100">
            <p class="pb-3 mb-0 small lh-sm deep-text-dark">
              We are all champions, as long as we are willing to beleive it. 
            </p>
            <strong class="blockquote-footer black-text d-block text-gray-dark m-0 align-self-end align-self-lg-stretch">Miguel Tapia</strong>
          </div>
        </article>
        <article class="d-flex pt-3">
          <figure class="w-auto mt-0 me-0 my-md-0 mb-2 me-lg-3 m-lg-0">
            <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
          </figure>
          <div class="d-flex flex-column p-2 pt-0 w-100">
            <p class="pb-3 mb-0 small lh-sm deep-text-dark">
              Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind.
            </p>
            <strong class="blockquote-footer black-text d-block text-gray-dark m-0 align-self-end align-self-lg-stretch">Miguel Tapia</strong>
          </div>
        </article>
        <article class="d-flex pt-3">
          <figure class="w-auto mt-0 me-0 my-md-0 mb-2 me-lg-3 m-lg-0">
            <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
          </figure>
          <div class="d-flex flex-column p-2 pt-0 w-100">
            <p class="pb-3 mb-0 small lh-sm deep-text-dark">
              Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind.
            </p>
            <strong class="blockquote-footer black-text d-block text-gray-dark m-0 align-self-end align-self-lg-stretch">Miguel Tapia</strong>
          </div>
        </article>
        <article class="d-flex pt-3">
          <figure class="w-auto mt-0 me-0 my-md-0 mb-2 me-lg-3 m-lg-0">
            <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
          </figure>
          <div class="d-flex flex-column p-2 pt-0 w-100">
            <p class="pb-3 mb-0 small lh-sm deep-text-dark">
              Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind.
            </p>
            <strong class="blockquote-footer black-text d-block text-gray-dark m-0 align-self-end align-self-lg-stretch">Miguel Tapia</strong>
          </div>
        </article>
      </section>
    </main>
  </div>
  <aside class="border border-start-0 border-top-0 border-bottom-0  col-12 col-xl-3 who-to-follow-section-container">
    <header class="row">
      <nav class="nav col-12 mt-3 mt-sm-1 p-lg-0 who-to-follow-nav-borders text-decoration-none justify-content-center justify-content-lg-start text-start p-0 mt-lg-0 border-start-0">
        <li class="nav-item p-3 px-lg-3 pt-lg-3 secondary-top-nav-items-not-active position-relative secondary-top-nav-items">
          <a href="#" class="nav-link deep-text-dark-semitransparent secondary-top-nav-items-text ms-1 ms-sm-3 ms-lg-2 ms-2">WHO TO FOLLOW</a>
        </li>
      </nav>
    </header>
    <section class="p-2 p-md-0 mt-0 mt-sm-1 mt-lg-5 who-to-follow-items ms-md-5 ms-lg-0 who-to-follow-section">
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 ">Miguel Tapia</strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark">8 deeps
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <!--It repeats here
        -->
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 ">Miguel Tapia</strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark">8 deeps
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 ">Miguel Tapia</strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark">8 deeps
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 ">Miguel Tapia</strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark">8 deeps
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 ">Miguel Tapia</strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark">8 deeps
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 ">Miguel Tapia</strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark">8 deeps
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 ">Miguel Tapia</strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark">8 deeps
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 ">Miguel Tapia</strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark">8 deeps
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 ">Miguel Tapia</strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark">8 deeps
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <img class="m-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle" src="https://avatars.githubusercontent.com/u/57421823?s=60&amp;v=4" alt="">
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 ">Miguel Tapia</strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark">8 deeps
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle deep-text-dark-semitransparent follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
    </section>
  </aside>
</div>
