<% set_meta_tags title: @user.fullname,
                  description: "#{@user.fullname.split[0]} is on Deeper! Share your daily wisdom",
                  twitter: {
                    card: 'summary',
                    title: @user.fullname,
                    description: "#{@user.fullname.split[0]} is on Deeper! Share your daily wisdom",
                    image: Cloudinary::Utils.cloudinary_url(@user.photo.key, gravity: 'face', crop: 'fill', height: '1000', width: '1200')
                    },
                  og: {
                    title: @user.fullname,
                    url: "https://deeper-app.herokuapp.com#{(url_for(user_path(@user)))}",
                    description: "#{@user.fullname.split[0]} is on Deeper! Share your daily wisdom",
                    image: Cloudinary::Utils.cloudinary_url(@user.photo.key, gravity: 'face', crop: 'fill', height: '1000', width: '1200')
                  } %>
<div class="row p0 m-0 h-100">
  <div class="col-12 col-xl-9 border-end">
    <div class="row col-12 p-0 w-auto position-relative cover-container">
      <%= cover_img(@client, @user) %>
      <div id="mContainer" class="modal-cover">
        <span class="close-cover">&times;</span>
        <img class="modal-contents-cover" id="my-cover-modal-expanded">
        <div id="caption-cover"></div>
      </div>
      <script>
        // Get the modal
              var modalCover = document.getElementById('mContainer');
        
              // Get the image and insert it inside the modal - use its "alt" text as a caption
              var imgCover = document.getElementById('my-cover');
              var modalImgCover = document.getElementById("my-cover-modal-expanded");
              var captionText = document.getElementById("caption-cover");
              imgCover.onclick = function(){
                modalCover.style.display = "block";
                modalImgCover.src = this.src;
                captionText.innerHTML = this.alt;
              }
        
              // Get the <span> element that closes the modal
              var spanc = document.getElementsByClassName("close-cover")[0];
        
              // When the user clicks on <span> (x), close the modal
              spanc.onclick = function() {
                modalCover.style.display = "none";
              }
      </script>
      <%= cover_button(@user) %>
    </div>
    <script>
      $('#cover-input').click(function(){
                    $('#user_cover_image').click();
                    // disable button
                    $(this).prop("disabled", true);
                    $('#cover-input').html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Changing...`);
                    setTimeout(function() {
                          $('#cover-input').prop('disabled', false);
                          $('#cover-input').html(`change`);
                    }, 10000);
                    $('#cover-input').prop("disabled", false);
                    });
    </script>
    <header class="row">
      <nav class="nav col-12 p-0 border-bottom text-decoration-none">
        <li class="nav-item p-0 p-sm-2 p-lg-3 position-relative secondary-top-nav-items-active secondary-top-nav-items">
          <a href="#" class="nav-link nav-text-dark secondary-top-nav-items-text ms-1 ms-sm-3 ms-lg-2 black-text ms-2">DEEPS</a>
        </li>
      </nav>
    </header>
    <main class="container d-flex flex-column px-1 px-md-4">
      <div class=" p-2 p-md-5 mt-4 bg-white shadow-sm rounded ">
        <h6 class="border-bottom pb-2 mb-0 deep-text-blue fw-bold text-uppercase"> <%= user_deeps_header(@user) %></h6>
        <section class="deeps-section-container-userprofile">
          <%= render @deeps %>
        </section>
      </div>
    </main>
  </div>
  <aside class="border border-start-0 border-top-0 border-bottom-0  col-12 col-xl-3 who-to-follow-section-container">
    <section class="row flex-column profile-stats-container mt-5 mt-lg-0">
      <div class="d-flex flex-column justify-content-center align-items-center  profile-stats-pic-items mb-1 mb-lg-0">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <figure class="profile-stats-pic-container mx-3 mb-3">
            <%= cl_image_tag(@user.photo.key, id: 'my-photo', class: 'rounded-circle profile-stats-pic', :width=>800, :height=>800, alt: @user.fullname,  :gravity=>"face", :radius=>"max", :crop=>"fill") %>
          </figure>
          <!-- The Modal -->
          <div id="my-photo-modal-container" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="my-photo-modal-expanded">
            <div id="caption"></div>
          </div>
          <script>
            // Get the modal
            var modal = document.getElementById('my-photo-modal-container');
            
            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById('my-photo');
            var modalImg = document.getElementById("my-photo-modal-expanded");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
              modal.style.display = "block";
              modalImg.src = this.src;
              captionText.innerHTML = this.alt;
            }
            
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }
          </script>
          <%= profile_pic_button(@user) %>
          <script>
            $('#photo-input').click(function(){
                          $('#user_photo').click();
                          // disable button
                          $(this).prop("disabled", true);
                          $('#photo-input').html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Changing...`);
                          setTimeout(function() {
                                $('#photo-input').prop('disabled', false);
                                $('#photo-input').html(`change`);
                          }, 10000);
                          $('#photo-input').prop("disabled", false);
                          });
          </script>
        </div>
        <strong class="black-text profile-pic-fullname mt-2 text-capitalize"><%= @user.fullname %></strong>
        <div class="deep-text-dark ">@<%= @user.username %></div>
      </div>
      <div class="d-flex flex-column flex-xl-row text-darkish-white justify-content-evenly p-0 profile-stats-container-items">
        <div class="d-flex flex-column p-3 px-lg-2 p-xxl-3 align-items-center justify-content-evenly  w-100 border-start border-end">
          <div class="fw-bold black-text"><%= @user.deeps.count %></div>
          <div class="deep-text-dark-semitransparent">Deeps</div>
        </div>
        <div class="d-flex flex-column p-3 px-lg-2 p-xxl-3 align-items-center justify-content-evenly  w-100 border-start border-end">
          <div class="fw-bold black-text"><%= @user.followeds.count %></div>
          <div class="deep-text-dark-semitransparent">Following</div>
        </div>
        <div class="d-flex flex-column p-3 px-lg-2 p-xxl-3 align-items-center justify-content-evenly  w-100 border-start border-end">
          <div class="fw-bold black-text"><%= @user.followers.count %></div>
          <div class="deep-text-dark-semitransparent">Followers</div>
        </div>
      </div>
    </section>
    <header class="row">
      <nav class="nav col-12 mt-0 p-lg-0 mb-sm-3 mb-lg-0 mt-sm-2 mt-lg-0 who-to-follow-nav-borders text-decoration-none justify-content-center justify-content-lg-start text-start p-0 mt-lg-0 border-start-0">
        <li class="nav-item p-3 px-lg-3 pt-lg-3 secondary-top-nav-items-not-active position-relative secondary-top-nav-items">
          <a href="#" class="nav-link deep-text-dark-semitransparent secondary-top-nav-items-text ms-0 ms-xxl-2 "><%= followed_by_header(@user) %></a>
        </li>
      </nav>
    </header>
    <section class="p-2 p-md-0 mt-0 mt-sm-1 mt-lg-5 who-to-follow-items ms-md-5 ms-lg-0 followed-by-section">
      <%= render @followedbysection_users %>
    </section>
  </aside>
</div>
