<div class="row p0 m-0 h-100">
  <div class="col-12 col-xl-9 border-end">
    <div class="row col-12 p-0 w-auto position-relative cover-container">
      <% if current_user.cover_image.attached? %>
        <%= cl_image_tag(current_user.cover_image.key, class: 'img-fluid p-0 cover-img', :opacity=>80, :effect=>"auto_brightness") %>
      <% else %>
        <img src="https://ss.jikoome.com/images/Default/default.jpg" class="img-fluid p-0 cover-img" alt="">
      <% end %>
      <% if current_user %>
        <%= form_with model: @user, id: 'cover-form' do |form| %>
          <%= form.file_field :cover_image, direct_upload: true, required: true, class: "form-control form-control-sm d-none cover_form", onchange: "form.submit()"  %>
          <button id="cover-input" type="button" class="btn btn-outline-secondary btn-sm">change</button>
          <script>
            $('#cover-input').click(function(){
                          $('#user_cover_image').click();
                          // disable button
                          $(this).prop("disabled", true);
                          $('#cover-input').html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Changing...`);
                          setTimeout(function() {
                                $('#cover-input').prop('disabled', false);
                                $('#cover-input').html(`change`);
                          }, 10000);
                          $('#cover-input').prop("disabled", false);
                          });
          </script>
        <% end %>
      <% end %>
    </div>
    <header class="row">
      <nav class="nav col-12 p-0 border-bottom text-decoration-none">
        <li class="nav-item p-0 p-sm-2 p-lg-3 position-relative secondary-top-nav-items-active secondary-top-nav-items">
          <a href="#" class="nav-link nav-text-dark secondary-top-nav-items-text ms-1 ms-sm-3 ms-lg-2 black-text ms-2">DEEPS</a>
        </li>
      </nav>
    </header>
    <main class="container d-flex flex-column px-1 px-md-4">
      <div class=" p-2 p-md-5 mt-4 bg-white shadow-sm rounded ">
        <h6 class="border-bottom pb-2 mb-0 deep-text-blue fw-bold text-uppercase"><%= @user.deeps.count > 0 ? 'ALL DEEPS' : (@user.fullname.split.first) + ' HAS NO DEEPS YET' %></h6>
        <section class="deeps-section-container-userprofile">
          <%= render @deeps %>
        </section>
      </div>
    </main>
  </div>
  <aside class="border border-start-0 border-top-0 border-bottom-0  col-12 col-xl-3 who-to-follow-section-container">
    <section class="row flex-column profile-stats-container mt-5 mt-lg-0">
      <div class="d-flex flex-column justify-content-center align-items-center  profile-stats-pic-items mb-1 mb-lg-0">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <% if current_user.photo.attached? %>
            <figure class="profile-stats-pic-container mx-3 mb-3">
              <%= cl_image_tag(current_user.photo.key, class: 'rounded-circle profile-stats-pic', :width=>150, :height=>150, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
            </figure>
          <% else %>
            <figure class="profile-stats-pic-container mx-3 mb-3">
              <img class="rounded-circle profile-stats-pic" src="https://avatars.githubusercontent.com/u/57421823?v=4" alt="">
            </figure>
          <% end %>
          <% if current_user %>
            <%= form_with model: @user, id: 'photo-form' do |form| %>
              <%= form.file_field :photo, direct_upload: true, required: true, class: "form-control form-control-sm d-none", onchange: "form.submit()"  %>
              <button id="photo-input" type="button" class="btn btn-outline-secondary btn-sm">change</button>
              <script>
                $('#photo-input').click(function(){
                              $('#user_photo').click();
                              // disable button
                              $(this).prop("disabled", true);
                              $('#photo-input').html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Changing...`);
                              setTimeout(function() {
                                    $('#photo-input').prop('disabled', false);
                                    $('#photo-input').html(`change`);
                              }, 10000);
                              $('#photo-input').prop("disabled", false);
                              });
              </script>
            <% end %>
          <% else %>
            <div class="follow-button-pic-container follow-button"><i aria-hidden="true" class=" position-relative fas fa-plus-circle  follow-button-pic "></i>
            </div>
          <% end %>
        </div>
        <strong class="black-text profile-pic-fullname mt-2 text-capitalize"><%= @user.fullname %></strong>
        <div class="deep-text-dark ">@<%= @user.username %></div>
      </div>
      <div class="d-flex flex-column flex-xl-row text-darkish-white justify-content-evenly p-0 profile-stats-container-items">
        <div class="d-flex flex-column p-3 px-lg-2 p-xxl-3 align-items-center justify-content-evenly  w-100 border-start border-end">
          <div class="fw-bold black-text"><%= current_user.deeps.count %></div>
          <div class="deep-text-dark-semitransparent">Deeps</div>
        </div>
        <div class="d-flex flex-column p-3 px-lg-2 p-xxl-3 align-items-center justify-content-evenly  w-100 border-start border-end">
          <div class="fw-bold black-text">245</div>
          <div class="deep-text-dark-semitransparent">Following</div>
        </div>
        <div class="d-flex flex-column p-3 px-lg-2 p-xxl-3 align-items-center justify-content-evenly  w-100 border-start border-end">
          <div class="fw-bold black-text">245</div>
          <div class="deep-text-dark-semitransparent">Followers</div>
        </div>
      </div>
    </section>
    <header class="row">
      <nav class="nav col-12 mt-0 p-lg-0 mb-sm-3 mb-lg-0 mt-sm-2 mt-lg-0 who-to-follow-nav-borders text-decoration-none justify-content-center justify-content-lg-start text-start p-0 mt-lg-0 border-start-0">
        <li class="nav-item p-3 px-lg-3 pt-lg-3 secondary-top-nav-items-not-active position-relative secondary-top-nav-items">
          <a href="#" class="nav-link deep-text-dark-semitransparent secondary-top-nav-items-text ms-0 ms-xxl-2 ">FOLLOWED BY</a>
        </li>
      </nav>
    </header>
    <section class="p-2 p-md-0 mt-0 mt-sm-1 mt-lg-5 who-to-follow-items ms-md-5 ms-lg-0 followed-by-section">
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <%= cl_image_tag(current_user.photo.key, class: 'm-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle', :width=>55, :height=>55, :gravity=>"face", :crop=>"thumb", :radius=>"max") %>
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 "><%= @user.fullname %></strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark"> @<%= @user.username %>
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle  follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <!--It repeats here
          -->
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <%= cl_image_tag(current_user.photo.key, class: 'm-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle', :width=>55, :height=>55, :gravity=>"face", :crop=>"thumb", :radius=>"max") %>
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 "><%= @user.fullname %></strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark"> @<%= @user.username %>
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle  follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <%= cl_image_tag(current_user.photo.key, class: 'm-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle', :width=>55, :height=>55, :gravity=>"face", :crop=>"thumb", :radius=>"max") %>
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 "><%= @user.fullname %></strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark"> @<%= @user.username %>
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle  follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <%= cl_image_tag(current_user.photo.key, class: 'm-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle', :width=>55, :height=>55, :gravity=>"face", :crop=>"thumb", :radius=>"max") %>
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 "><%= @user.fullname %></strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark"> @<%= @user.username %>
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle  follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
      <article class="d-flex p-2 p-md-0 ms-0 justify-content-start justify-content-lg-start pb-lg-3 ms-lg-0 who-to follow-items">
        <figure class="w-auto mt-0 me-0 my-md-0 mb-2 ms-lg-4 ms-xl-0 ms-xxl-4 m-lg-0">
          <%= cl_image_tag(current_user.photo.key, class: 'm-0 m-sm-1 mt-sm-0 deeps-headshot rounded-circle', :width=>55, :height=>55, :gravity=>"face", :crop=>"thumb", :radius=>"max") %>
        </figure>
        <div class="d-flex justify-content-between w-100 me-3 me-xl-0 me-xxl-3">
          <div class="d-flex flex-column p-2 pt-0 ms-2 ms-md-0 ms-xl-0 ms-xxl-4 mt-1">
            <strong class="black-text d-block text-gray-dark m-0 "><%= @user.fullname %></strong>
            <p class="pb-3 mb-0 small lh-lg deep-text-dark"> @<%= @user.username %>
            </p>
          </div>
          <div class="follow-button-container ms-0 me-xl-2 me-xxl-0 fs-1"><i aria-hidden="true" class=" position-relative fas fa-plus-circle  follow-button mt-3 mt-sm-2 mt-lg-2 mt-xxl-0 p-0"></i>
          </div>
        </div>
      </article>
    </section>
  </aside>
</div>
